---
title: >
        Corso di Sceneggiatura a Milano - TralerigheLab

description: >
        Costruisci il Tuo Progetto di Scrittura: Sviluppo della Storia, Definizione dei Personaggi, Perfezionamento e Cura della Propria Cifra Stilistica.

testata:
    prima_riga: Corso di Sceneggiatura
    seconda_riga: >

            Dal 11 marzo 2017 al 26 marzo 2017<br><span class="medium"><i>2 fine settimana (21 Ore) a Milano</i></span>

immagineTestata: https://prismic-io.s3.amazonaws.com/tralerighe/5d49575be514870df860b34dc2c722aea3c3b76a_sceneggiatura-testata3.jpg

headCode: >

conversionCode: >
                    <!-- MOMENT -->
                    <script src="https://s3-eu-west-1.amazonaws.com/cdn.fucinadeltag.it/moment.js"></script>
                    <script type="text/javascript">
                        moment.locale('it');
                        var lastDayOfMonth = moment().endOf('month').format("D\ MMMM YYYY");
                        $(".dataPromo").html(lastDayOfMonth);
                    </script>
                    <!-- /MOMENT -->
---

<%= partial "partials/promo_section", :locals => { :precentuale_sconto => "30", :frase_incentivo => "11 posti ancora disponibili"} %>

<%= partial "partials/rowCallToAction" %>

<hr>

<div class="row">
    <div class="columns">
        <h2><i class="fa fa-graduation-cap" aria-hidden="true"></i> Il docente del corso</h2>
    </div>
</div>

<div class="row small-up-1">
    <div class="column">
        <div class="row">
            <div class="column small-12 medium-3 small-order-2 medium-order-1">
                <img class="thumbnail" src="https://prismic-io.s3.amazonaws.com/tralerighe/8425dd37ddc6fcdda97adc0660c37da046691e09_federico-baccomo.jpg">
            </div>

            <div class="column small-12 medium-9 small-order-1 medium-order-2">
                <h2 class="subheader">Federico Baccomo</h2>
                <h3>Scrive per cinema e televisione</h3>
                <p>
                    Federico Baccomo è nato a Milano nel 1978.
                </p>
                <p>
                    Ex Avvocato, scrive per il cinema e la televisione, sviluppando soggetti e sceneggiature originali di lungometraggi e serie tv per le principali società di produzione.
                </p>

                <p>
                    Al momento sta lavorando allo sviluppo di una serie originale per <strong>Sky</strong>.
                </p>

                <p>

                    Tra i film cui ha collaborato:
                    <ul>
                        <li><strong>La gente che sta bene</strong> (2014, con Claudio Bisio, Diego Abatantuono e Margherita Buy)</li>
                        <li><strong>Studio Illegale</strong> (2013, con Fabio Volo ed Ennio Fantastichini)</li>
                    </ul>
                    Entrambi i filme sono tratti dai suoi romanzi omonimi.
                </p>

            </div>
        </div>
    </div>
</div>

<hr>

<div class="row banner">
        <div class="small-12 columns">
            <a href="#form">
                <span class="sconto">Scrivi la tua sceneggiatura</span>
                <br><span class="subSconto">Al termine del corso sarai in grado di scrivere la tua sceneggiatura</span>
            </a>
        </div>
</div>

<%= partial "partials/rowCallToAction" %>

<hr>

<div class="row">
    <div class="column">
        <h2><i class="fa fa-folder-open" aria-hidden="true"></i> Percorso formativo</h2>
    </div>
</div>

<div class="row">
    <div class="column small-12 medium-9">
        <p>
            <ul>
                <li>
                    <strong>I primi passi</strong>
                    <p>
                        <i>Dall'idea al soggetto: una storia da raccontare. Lungometraggi, cortometraggi, serie tv, web-series</i>
                    </p>
                </li>
                <li>
                    <strong>La struttura</strong>
                    <p>
                        <i>La costruzione della storia, tra scaletta, trattamento e il mito dei 3 atti</i>
                    </p>
                </li>
                <li>
                    <strong>La tecnica</strong>
                    <p>
                        <i>La grammatica della sceneggiatura</i>
                    </p>
                </li>
                <li>
                    <strong>Il racconto</strong>
                    <p>
                        <i>La scena: costruire azioni e dialoghi al servizio di un movimento</i>
                    </p>
                </li>
                <li>
                    <strong>Lo studio</strong>
                    <p>
                        <i>Analisi pratica di film e serie tv</i>
                    </p>
                </li>
                <li>
                    <strong>Il lavoro</strong>
                    <p>
                        <i>L'industria dello spettacolo: dal pitching all'arte di prendere appunti</i>
                    </p>
                </li>
                <li>
                    <strong>La pratica</strong>
                    <p>
                        <i>Esercizi di scrittura: dal soggetto originale alla stesura di una sceneggiatura</i>
                    </p>
                </li>
            </ul>
        </p>
    </div>
    <div class="column show-for-medium">
        <img class="thumbnail" src="https://prismic-io.s3.amazonaws.com/tralerighe/7c143ace12a277f9d4917ab08b47133a7e828ea1_sceneggiatura-informazioni.jpg">
    </div>
</div>

<hr>

<div class="row banner">
        <div class="small-12 columns">
            <a href="#form">
                <span class="sconto">Attestato di partecipazione</span>
                <br><span class="subSconto">A corso concluso verrà rilasciato un attestato di partecipazione!</span><br>
            </a>
        </div>
</div>


<%= partial "partials/rowCallToAction" %>


<hr>

<div class="row">
    <div class="column">
        <h2><i class="fa fa-info-circle" aria-hidden="true"></i> Informazioni</h2>
    </div>
</div>

<div class="row">
    <div class="small-12  medium-4 columns">
        <img class="thumbnail" src="https://prismic-io.s3.amazonaws.com/tralerighe/f458432da7648d5adf097fce22bdf2e698c5df30_sceneggiatura-percorsoformativo.png">
    </div>
    <div class="small-12  medium-8 columns">
        <div class="row mall-up-1 medium-up-2">
            <div class="columns">
                <h4>Quanto costa?</h4>
                <p>

                    <span class="prezzo_intero">€ 610,00</span> <i>Sconto del 30%</i><br>

                    <span class="prezzo">€ 427,00</span> (IVA inclusa)<br>Pagabile anche a rate!<br>

                    Sconto valido fino al <i><span class="dataPromo">esaurimento posti</span></i>
                </p>
            </div>
            <div class="columns">
                <h4>Quando si terrà il corso?</h4>
                <p>
                    Il Corso si svolgerà nelle seguenti date
                </p>
                <p>
                    <ul>
                        <li>sabato 11 marzo 2017 <i>dalle 9:30 alle 17:30</i><br>domenica 12 marzo 2017 <i>dalle 9:30 alle 13:00</i></li>
                        <li>sabato 25 marzo 2017 dalle <i>9:30 alle 17:30</i><br>domenica 26 marzo 2017 <i>dalle 9.30 alle 13:00</i></li>

                    </ul>
                </p>
                <p>
                    Durata totale: <strong>21 ore</strong>
                </p>
            </div>
            <div class="columns">
                <h4>Dove si tiene il corso?</h4>
                <p>
                    <strong>Libreria MAMU Magazzino Musica</strong><br>
                    via Soave 3, 20135 Milano<br>
                    <i>Fermata Porta Romana - Linea M3 gialla</i>
                </p>
            </div>
            <div class="columns">
                <h4>Quanti saranno i partecipanti?</h4>
                <p>
                    <strong>Il corso prevede un massimo di 25 partecipanti</strong>
                </p>
            </div>
        </div>
    </div>
</div>

<hr>

<%= partial "partials/form", :locals => { :form_class_large => "large-7", :phone_class_large => "large-5", :precentuale_sconto => "30", :id_corso => "Sceneggiatura_1"} %>

<%= partial "partials/dormire" %>
<hr>

<%= partial "partials/chiSiamo" %>


<%= partial "partials/rowCallToAction" %>
