---
title: >
        Corso di Scrittura Creativa a Milano - Tralerighe

description: >
        Costruisci il Tuo Progetto di Scrittura: Sviluppo della Storia, Definizione dei Personaggi, Perfezionamento e Cura della Propria Cifra Stilistica.

testata:
    prima_riga: Corso Avanzato di Scrittura
    seconda_riga: >

            Dal 14 ottobre 2017 all' 11 febbraio 2018<br><span class="medium"><i>Un fine settimana al mese (70 Ore) a Milano</i></span>

immagineTestata: https://prismic-io.s3.amazonaws.com/tralerighe/2082cd401e9c940892700aa788f6a28131897809_scrittura_creativa.jpg

headCode: >

conversionCode: >
                    <!-- MOMENT -->
                    <script src="https://s3-eu-west-1.amazonaws.com/cdn.fucinadeltag.it/moment.js"></script>
                    <script type="text/javascript">
                        moment.locale('it');
                        var lastDayOfMonth = moment().endOf('month').format("D\ MMMM YYYY");
                        $(".dataPromo").html('ad esaurimento posti');
                    </script>
                    <script type="text/javascript">
                        $(window).scroll(function() {
                            if ($(this).scrollTop() > 250) { //use `this`, not `document`
                                $('.corner-ribbon').css({
                                    'display': 'none'
                                });
                            }
                        });
                        $(window).scroll(function() {
                            if ($(this).scrollTop() < 250) { //use `this`, not `document`
                                $('.corner-ribbon').css({
                                    'display': 'inline'
                                });
                            }
                        });
                    </script>
                    <!-- /MOMENT -->
---

<div class="corner-ribbon top-right sticky red shadow">Prima Edizione!</div>

<%= partial "partials/promo_section", :locals => { :precentuale_sconto => "32", :frase_incentivo => "Prima Edizione - Ultimi posti disponibili"} %>

<%= partial "partials/rowCallToAction" %>

<hr>

<div class="row">
    <div class="columns">
        <h2><i class="fa fa-graduation-cap" aria-hidden="true"></i> I docenti del corso</h2>
    </div>
</div>

<div class="row small-up-1">
    <div class="column">
        <div class="row">
            <div class="column small-12 medium-3 small-order-2 medium-order-1">
                <img class="thumbnail" src="https://prismic-io.s3.amazonaws.com/tralerighe/51da529c502abb348504aa89260a454f58f4f500_davide_mosca.jpeg">
            </div>

            <div class="column small-12 medium-9 small-order-1 medium-order-2">
                <h2 class="subheader">Davide Mosca</h2>
                <h3>Scrittore per Mondadori, Rizzoli e Chiarelettere</h3>
                <p>
                    Nato a Savona nel 1979 e vive a Milano.<br>
                    Scrittore, ghost-writer ed editorialista, ha pubblicato una decina di romanzi e altrettanti saggi, vendendo oltre <strong>centomila copie</strong>.
                </p>

                <p>
                    Alcuni suoi romanzi:
                    <ul>
                        <li><strong>Ho osato vincere</strong> - Edito da <i>Mondadori</i></li>
                        <li><strong>Più sicuri di sé con Raymond Chandler </strong> - Edito da <i>Chiarelettere</i></li>
                        <li><strong>Il crociato infedele  </strong> - Edito da <i>Rizzioli</i></li>
                        <li><strong>A tu per tu con Raffaele Morelli</strong> - Edito da <i>Riza</i></li>
                        <li><strong>Non colpevole, L’ultimo Cesare, La cripta dei libri profetici, Il profanatore di biblioteche proibite</strong> - Editi da <i>Newton & Compton</i></li>
                        <li><strong>Silla il figlio della fortuna, Silla imperator, Congiura</strong> - Editi da <i>Mursia</i></li>
                    </ul>
                </p>
                <p>
                    Lavora nell’editoria e insegna scrittura creativa da oltre dieci anni.<br>
                    Dal 2015 dirige la libreria Verso di Milano.
                </p>

            </div>
        </div>
    </div>
</div>

<hr>

<div class="row banner">
        <div class="small-12 columns">
            <a href="#form">
                <span class="sconto">Pubblicare è possibile</span>
                <br><span class="subSconto">Il corso sarà finalizzato alla produzione di un elaborato originale (racconto o romanzo)!</span><br>
                <span class="subSconto"><i>Il fine di è un'eventuale pubblicazione</i></span>
            </a>
        </div>
</div>

<%= partial "partials/rowCallToAction" %>


<!-- <div class="row align-center">
    <div class="column small-12 center">
            <h2>Scrittori si diventa!<h2>
            <h3 class="subheader">La scrittura nasce dall’ispirazione ma si nutre di metodo e tecnica</h3>
    </div>
</div> -->

<hr>

<div class="row">
    <div class="column">
        <h2><i class="fa fa-folder-open" aria-hidden="true"></i> Percorso formativo</h2>
    </div>
</div>

<div class="row">
    <div class="column small-12 medium-9">
        <p>
            <ul>
                <li>
                    <strong>L’idea</strong>: cercarla, trovarla, tenerla viva
                    <p>
                        <i>Perché alcune idee funzionano e altre no? Se è già stato “scritto tutto”, che cosa possiamo riscrivere?</i>
                    </p>
                </li>
                <li>
                    <strong>La storia</strong>: la struttura tra ordine e caos
                    <p>
                        <i>Una buona storia è quella che puoi raccontare in un minuto, ma che leggeresti per giorni e giorni.</i>
                    </p>
                </li>
                <li>
                    <strong>La forma del mondo</strong>: personaggi, ambiente, tempo
                    <p>
                        <i>Il tempo e lo spazio sono i tuoi migliori amici, ma possono trasformarsi nei tuoi peggiori nemici se non sai come trattarli.</i>
                    </p>
                </li>
                <li>
                    <strong>Le parole giuste</strong>: stile, punto di vista, genere, lingua, tono, voce
                    <p>
                        <i>Ogni scrittore ha bisogno di una nutrita cassetta degli attrezzi: ecco quali procurarti e come utilizzarli.</i>
                    </p>
                </li>
                <li>
                    <strong>La struttura</strong>: incipit, finale e tutto quello che sta in mezzo
                    <p>
                        <i>Iniziare bene, finire meglio. Due momenti da rendere indimenticabili.</i>
                    </p>
                </li>
                <li>
                    <strong>Il corpo</strong>: dialoghi, colpi di scena, divagazioni, flashback e molto altro
                    <p>
                        <i>La meta è il viaggio. Come affrontarlo senza smarrirsi. Se impari a godertelo, se lo godrà anche il lettore.</i>
                    </p>
                </li>
                <li>
                    <strong>La revisione</strong>: rilettura e auto-editing
                    <p>
                        <i>Chi l’ha detto che tutti i capolavori nascono di getto? Riscrivere è spesso più importante di scrivere.</i>
                    </p>
                </li>
                <li>
                    <strong>L’approccio</strong>: aiutare l’ispirazione, mantenere la disciplina, gestire lo sconforto
                    <p>
                        <i>D’accordo “rimanere affamati”, ma come farsi venire l’appetito?</i>
                    </p>
                </li>
                <li>
                    <strong>La pubblicazione</strong>: editori, agenti, proposte, contratti e altri incidenti (più o meno) necessari
                    <p>
                        <i>Conoscere e sapersi orientare nel “mondo delle meraviglie”, perché i pericoli sono sempre in agguato.</i>
                    </p>
                </li>
            </ul>
        </p>
    </div>
    <div class="column show-for-medium">
        <img class="thumbnail" src="https://prismic-io.s3.amazonaws.com/tralerighe/1af923ad488dacb9e44543af7ce1c6a48c7ab030_scrittura.jpg">
    </div>
</div>

<hr>
<div class="row">
    <div class="column">
        <h2><i class="fa fa-picture-o" aria-hidden="true"></i> Immagini dalle precedenti edizioni</h2>
    </div>
</div>

<div class="row">
    <div class="columns">
        <div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit data-use-m-u-i="false" data-auto-play="false">
            <ul class="orbit-container">

                <li class="orbit-slide">
                    <img class="orbit-image" src="https://prismic-io.s3.amazonaws.com/tralerighe/c99775c7be9b39a29c0d9fb20fde00bcccafcf1d_dsc_0940.jpg" alt="Corso Scrittura creativa">
                </li>
                <li class="orbit-slide">
                    <img class="orbit-image" src="https://prismic-io.s3.amazonaws.com/tralerighe/d13ad1e52a773c9814dc61fe8d8bdb23a54cb1c7_dsc_0939.jpg" alt="Corso Scrittura creativa">
                </li>
                <li class="orbit-slide">
                    <img class="orbit-image" src="https://prismic-io.s3.amazonaws.com/tralerighe/1a6dd4a00d7308fb08ec18fd9b51697d878e38ae_dsc_0977.jpg" alt="Corso Scrittura creativa">
                </li>
                <li class="orbit-slide">
                    <img class="orbit-image" src="https://prismic-io.s3.amazonaws.com/tralerighe/7d3e0ccd6e7491b18161f3b8ad68966c9c938f06_dsc_0964.jpg" alt="Corso Scrittura creativa">
                </li>

            </ul>
            <nav class="orbit-bullets">
                <button class="is-active" data-slide="0"><span class="show-for-sr">First slide details.</span><span class="show-for-sr">Current Slide</span></button>
                <button data-slide="1"><span class="show-for-sr">Second slide details.</span></button>
                <button data-slide="2"><span class="show-for-sr">Third slide details.</span></button>
                <button data-slide="3"><span class="show-for-sr">Fourth slide details.</span></button>
            </nav>
        </div>
    </div>
</div>
<div class="row">
    <div class="column">
        <h2><i class="fa fa-comments" aria-hidden="true"></i> I commenti dei partecipanti al corso</h2>
    </div>
</div>

<div class="row">
    <div class="columns">
        <div class="yotpo yotpo-main-widget"
            data-product-id="ScritturaCreativa"
            data-name="Corso di scrittura Creativa"
            data-url="https://www.tralerighelab.it/scritturacreativa"
            data-image-url="https://prismic-io.s3.amazonaws.com/tralerighe/2082cd401e9c940892700aa788f6a28131897809_scrittura_creativa.jpg"
            data-description="Corso di scrittura creativa">
        </div>
    </div>
</div>

<hr>

<div class="row banner">
        <div class="small-12 columns">
            <a href="#form">
                <span class="sconto">Incontri con Editor</span>
                <br><span class="subSconto">Workshop con gli editor delle più importanti case editrici!</span>
            </a>
        </div>
</div>

<%= partial "partials/rowCallToAction" %>


<hr>

<div class="row">
    <div class="column">
        <h2><i class="fa fa-info-circle" aria-hidden="true"></i> Informazioni</h2>
    </div>
</div>

<div class="row small-up-1 medium-up-3">
    <div class="column">
        <h4 class="subheader">Quanto costa?</h2>
        <p>

            <span class="prezzo_intero">€ 1.250,00</span> <i>Sconto del 32%</i><br>

            <span class="prezzo">€ 850,00</span> (IVA inclusa)<br>Pagabile anche a rate!<br>

            Sconto valido fino <i><span class="dataPromo">esaurimento posti</span></i>
        </p>
        <hr class="hide-for-medium">
    </div>
    <div class="column">
        <h4 class="subheader">Dove si tiene il corso?</h2>
        <p>
            <strong>Scuola TralerigheLab presso MAMU</strong><br>
            via Soave 3, 20135 Milano<br>
            <i>Fermata Porta Romana - Linea M3 gialla</i>
        </p>
        <hr class="hide-for-medium">
    </div>
    <div class="column">
        <h4 class="subheader">Quanti saranno i partecipanti?</h2>
        <p>
            <strong>Il corso è a numero chiuso.</strong><br>
            Le candidature verranno quindi vagliate dallo staff di Tralerighe e dai docenti<br>
        </p>
        <hr class="hide-for-medium">
    </div>
</div>
<div class="row show-for-medium">
    <img src="https://prismic-io.s3.amazonaws.com/tralerighe/26a3c5f52c103d4df9b3fc57ba93ba11ad68dabe_libri.jpg">
</div>
<p></p>
<div class="row small-up-1 medium-up-2">
    <div class="column">
        <h4 class="subheader">Quanto dura il corso?</h2>
        <p>
            Il Corso di scrittura creativa si svolgerà da<br>
            <strong>febbraio 2017 a aprile 2017 per 2 fine settimana al mese:</strong>
        </p>
        <p>
            <ul>
                <li>sabato 7 e domenica 8 ottobre 2017</li>
                <li>sabato 11 e domenica 12 novembre 2017</li>
                <li>sabato 2 e domenica 3 dicembre 2017</li>
                <li>sabato 13 e domenica 14 gennaio 2018</li>
                <li>sabato 3 e domenica 4 febbraio 2018</li>

            </ul>
        </p>
        <p>
            Gli orari: <strong>dalle 9 alle 17</strong> (il sabato e la domenica)<br>
            Durata totale: <strong>70 ore</strong>
        </p>
        <hr class="hide-for-medium">
    </div>
    <div class="column">
        <h4 class="subheader">Come selezionate i partecipanti?</h2>
        <p>
            Contatteremo personalmente ciascun candidato indagando le motivazioni che lo spingono a voler partecipare.
        </p>
        <p>
            Ti chiederemo una breve presentazione personale (chi sei e perché vuoi partecipare)
        </p>
        <p>
            <strong>I candidati riceveranno una risposta entro 3 giorni dall’invio della domanda</strong>.
        </p>
    </div>
</div>

<hr>


<%= partial "partials/form", :locals => { :form_class_large => "large-7", :phone_class_large => "large-5", :precentuale_sconto => "32", :id_corso => "ScritturaCreativaAvanzato_1"} %>


<%= partial "partials/dormire" %>

<hr>

<%= partial "partials/chiSiamo" %>

<%= partial "partials/rowCallToAction" %>
