---
title: >
        Corso di Storytelling a Milano - TralerigheLab

description: >
        Apprendi le Tecniche dello Storytelling, Impara a Raccontare il Tuo Progetto Aziendale e Diventa un Professionista della Comunicazione!

testata:
    prima_riga: Corso di Storytelling
    seconda_riga: >

            Sabato 4 e Domenica 5 marzo 2017<br><span class="medium"><i>Un fine settimana (11 Ore) a Milano</i></span>

immagineTestata: https://prismic-io.s3.amazonaws.com/tralerighe/be614badf8c6ec46a5f9d8782b83458ce983f9b2_testata-scritturacreativa.jpg

headCode: >

conversionCode: >
                    <!-- MOMENT -->
                    <script src="https://s3-eu-west-1.amazonaws.com/cdn.fucinadeltag.it/moment.js"></script>
                    <script type="text/javascript">
                        moment.locale('it');
                        var lastDayOfMonth = moment().endOf('month').format("D\ MMMM YYYY");
                        $(".dataPromo").html('ad esaurimento posti');
                    </script>
                    <!-- /MOMENT -->
---

<%= partial "partials/promo_section", :locals => { :precentuale_sconto => "30", :frase_incentivo => "3 posti ancora disponibili"} %>

<%= partial "partials/rowCallToAction" %>

<hr>

<div class="row">
    <div class="columns">
        <h2><i class="fa fa-graduation-cap" aria-hidden="true"></i> Il docente del corso</h2>
    </div>
</div>

<div class="row small-up-1">
    <div class="column">
        <div class="row">
            <div class="column small-12 medium-3 small-order-2 medium-order-1">
                <img class="thumbnail" src="https://prismic-io.s3.amazonaws.com/tralerighe/1cd970d4f818a05cb743c3e9575b4b4d7cd0f7aa_serena-scarpello_schiarita.png">
            </div>

            <div class="column small-12 medium-9 small-order-1 medium-order-2">
                <h2 class="subheader">Serena Scarpello</h2>
                <h3>Responsabile dell’Ufficio Stampa e Digital PR del Gruppo Manpower</h3>
                <p>
                    È Responsabile dell’<strong>Ufficio Stampa e Digital PR del Gruppo Manpower in Italia</strong> e dirige il magazine di cultura del lavoro “LINC”.
                </p>

                <p>
                    Si è laureata presso l’<strong>Università Luiss Guido Carli</strong> di Roma in “Scienze Politiche - Relazioni Internazionali” e successivamente in “Comunicazione Economica, Politica e Istituzionale”.
                    Ha studiato presso l’<strong>Universidad Pontificia Comillas ICAI-ICADE</strong> di Madrid e svolto ricerca presso la <strong>Commissione Europea di Bruxelles</strong>.
                </p>
                <p>
                    Dopo un breve periodo presso la <strong>Farnesina</strong>, ha lavorato per sei anni per la redazione milanese di Class Editori, conducendo e scrivendo programmi televisivi per il canale economico-finanziario <strong>CNBC</strong>.
                    Ha scritto per i quotidiani “<strong>Italia Oggi</strong>”, “<strong>Milano Finanza</strong>” e “<strong>Il Centro</strong>”.
                </p>
                <p>
                    Ha realizzato il <strong>corso di “Ufficio Stampa 2.0”</strong> per giornalisti presso IULM di Milano e avviato una serie di incontri letterari all’interno di diverse manifestazioni tra cui Il <strong>Salone del Libro di Torino</strong> e <strong>Bookcity</strong>.
                </p>

            </div>
        </div>
    </div>
</div>

<hr>

<div class="row banner">
        <div class="small-12 columns">
            <a href="#form">
                <span class="sconto">Testimonial in aula</span>
                <br><span class="subSconto">Blogger, Startupper, Responsabili Comunicazione/Uffici Stampa/Digital Pr aziendale</span><br>
            </a>
        </div>
</div>

<%= partial "partials/rowCallToAction" %>


<!-- <div class="row align-center">
    <div class="column small-12 center">
            <h2>Scrittori si diventa!<h2>
            <h3 class="subheader">La scrittura nasce dall’ispirazione ma si nutre di metodo e tecnica</h3>
    </div>
</div> -->

<hr>

<div class="row">
    <div class="column">
        <h2><i class="fa fa-folder-open" aria-hidden="true"></i> Percorso formativo</h2>
    </div>
</div>

<div class="row">
    <div class="column small-12 medium-9">
        <p>
            Il focus: "<i>Oggi più che mai si racconta per ottimizzare la nostra identità digitale, per posizionare un progetto o un'azienda, per dare valore a un prodotto, per creare community intorno a una nostra iniziativa o a una campagna.
            E per distinguerci abbiamo la necessità di saper leggere il mondo che ci circonda, di conoscere tutti i mezzi per posizionarci all'interno di esso, di essere creativi, curiosi e originali</i>".
        </p>
        <p>
            <ul>
                <li>
                    <strong>Come si fa Storytelling</strong>
                    <p>
                        <i>Come si comunica attraverso racconti, sia dal punto di vista personale - con lo scopo di migliorare il proprio personal branding - sia dal punto di vista aziendale ossia la narrazione d'impresa come nuovo modo di fare comunicazione</i>
                    </p>
                </li>
                <li>
                    <strong>La differenza tra Storytelling individuale e Corporate Storytelling</strong>
                    <p></p>
                </li>
                <li>
                    <strong>Come costruire un piano</strong>
                    <p>
                        <i>Brief, piano narrativo, execution</i>
                    </p>
                </li>
                <li>
                    <strong>Come si scrive un racconto di impresa e come si comunica</strong>
                    <p>
                        <i>Il media narrative design</i>
                    </p>
                </li>
                <li>
                    <strong>Le competenze necessarie per diventare bravi storyteller</strong>
                    <p>
                        <i>Come saper cogliere le opportunità del mercato del lavoro</i>
                    </p>
                </li>
                <li>
                    <strong>Interviste a testimonial in aula</strong>
                    <p>
                        <i>Blogger, Startupper, Responsabili Comunicazione/Uffici Stampa/Digital Pr aziendale</i>
                    </p>
                </li>
                <li>
                    <strong>Esercitazioni</strong>
                    <p>
                        <i>Scrittura di racconti in aula. I più belli verranno pubblicati da "Tralerighe" in un ebook a fine corso</i>
                    </p>
                </li>
            </ul>
        </p>
    </div>
    <div class="column show-for-medium">
        <img class="thumbnail" src="https://prismic-io.s3.amazonaws.com/tralerighe/70de8d94bd22cf4c7cbd610b02c2de4f3bf45714_storytelling-percorsoformativo.png">
    </div>
</div>

<hr>

<!-- <div class="row banner">
        <div class="small-12 columns">
            <a href="#form">
                <span class="sconto">Incontri con Editor</span>
                <br><span class="subSconto">Workshop con gli editor delle più importanti case editrici!</span>
            </a>
        </div>
</div> -->

<div class="row banner">
        <div class="small-12 columns">
            <a href="#form">
                <span class="sconto">Attestato di partecipazione</span>
                <br><span class="subSconto">A corso concluso verrà rilasciato un attestato di partecipazione!</span><br>
            </a>
        </div>
</div>

<%= partial "partials/rowCallToAction" %>


<hr>

<div class="row">
    <div class="column">
        <h2><i class="fa fa-info-circle" aria-hidden="true"></i> Informazioni</h2>
    </div>
</div>

<div class="row">
    <div class="small-12  medium-3 columns">
        <img class="thumbnail" src="https://prismic-io.s3.amazonaws.com/tralerighe/9f8acd64b039d75ee96f1ace583f6a066a2fc94c_storytelling-informazioni.png">
    </div>
    <div class="small-12  medium-9 columns">
        <div class="row small-up-1 medium-up-2">
            <div class="columns">
                <h4>Quanto costa?</h4>
                <p>

                    <span class="prezzo_intero">€ 257,10</span> <i>Sconto del 30%</i><br>

                    <span class="prezzo">€ 180,00 + IVA</span><br>

                    Sconto valido fino <i><span class="dataPromo">esaurimento posti</span></i>
                </p>

                <!-- <p>
                    <button
                        class="snipcart-add-item"
                        data-item-id="Storytelling_1"
                        data-item-name="Corso di storytelling"
                        data-item-price="427.00"
                        data-item-url="http://myapp.com/products/bacon"
                        data-item-description="Corso di storytelling">
                            Acquista il corso
                    </button>
                </p> -->
            </div>
            <div class="columns">
                <h4>Quando si terrà il corso?</h4>
                <p>
                    Il Corso si svolgerà nelle seguenti date
                </p>
                <p>
                    <ul>
                        <li>sabato 4 marzo 2017 <i>dalle 9:30 alle 17:30</i></li>
                        <li>domenica 5 marzo 2017 <i>dalle 9.30 alle 13:00</i></li>

                    </ul>
                </p>
                <p>
                    Durata totale: <strong>11 ore</strong>
                </p>
            </div>
            <div class="columns">
                <h4>Dove si tiene il corso?</h4>
                <p>
                    <strong>Scuola TralerigheLab presso MAMU</strong><br>
                    via Soave 3, 20135 Milano<br>
                    <i>Fermata Porta Romana - Linea M3 gialla</i>
                </p>
            </div>
            <div class="columns">
                <h4>Quanti saranno i partecipanti?</h4>
                <p>
                    <strong>Il corso prevede un massimo di 25 partecipanti</strong>
                </p>
            </div>
        </div>
    </div>
</div>

<hr>


<%= partial "partials/form", :locals => { :form_class_large => "large-7", :phone_class_large => "large-5", :precentuale_sconto => "30", :id_corso => "Storytelling_1"} %>


<%= partial "partials/dormire" %>
<hr>

<%= partial "partials/chiSiamo" %>


<%= partial "partials/rowCallToAction" %>
